
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: pink;
}


.app-container {
  width: 400px;
  background: white;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}


h1 {
  margin-bottom: 20px;
  color: #191f19;
}


.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  padding: 10px;
 
}

.user-profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  text-align: center;
  flex: 1;
  
}

.user-info p {
  margin: 0;
}


button {
  margin-top: 20px;
  padding: 10px ;
  width: 80%;
  background-color: #db2f85;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}


